h1 {
    color: #333;
    text-align: center;
}

.info {
    margin-bottom: 10px;
}

.all-blocks {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-block {
    border: 5px solid #cecece;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.geoposition-block {
    border: 5px solid #cecece;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.object-block {
    border: 5px solid #cecece;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}