<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/base.css">

    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>

<div class="topnav">
    <a href="/" class="tab {% if active_tab == 'home' %}active{% endif %}">Главная</a>
    <a href="/find_object" class="tab {% if active_tab == 'find_object' %}active{% endif %}">Найти объект</a>
    <div class="right-links">
        {% if current_user.is_authenticated %}
            <a href="/profile" class="tab {% if active_tab == 'profile' %}active{% endif %}">Профиль</a>
        {% else %}
            <a href="/register" class="tab {% if active_tab == 'register' %}active{% endif %}">Зарегистрироваться</a>
            <a href="/login" class="tab {% if active_tab == 'login' %}active{% endif %}">Войти</a>
        {% endif %}
    </div>
</div>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>