{% extends "profile.html" %}

{% block geoposition %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.lat.label }}<br>
        {{ form.lat(class="form-control", value=current_user.lat) }}<br>
    </p>
    <p>
        {{ form.lon.label }}<br>
        {{ form.lon(class="form-control", value=current_user.lon) }}<br>
    </p>
    <p>
        {{ form.alt.label }}<br>
        {{ form.alt(class="form-control", value=current_user.alt) }}<br>
    </p>
    <p ALIGN="center">
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
</form>
{% endblock %}