{% extends "profile.html" %}

{% block profile %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", value=current_user.name) }}<br>
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", value=current_user.email, disabled=True) }}<br>
    </p>
    <p>
        {{ form.created_date.label }}<br>
        {{ form.created_date(class="form-control", value=current_user.created_date.strftime('%d.%m.%Y'), disabled=True) }}<br>
    </p>
    <p ALIGN="center">
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
</form>
{% endblock %}