{% extends "profile.html" %}

{% block profile %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", value=current_user.name) }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p ALIGN="center">
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
</form>
{% endblock %}