{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/find_object.css">
{% endblock %}
{% block title %}Поиск спутника{% endblock %}
{% block content %}
    <form method="post" action="/find_object" style="text-align: center">
        <h1>Для получения расписания пролетов, заполните все поля</h1>
        <div class="input-block">
            <label for="lat">Широта: </label>
            <input id="lat" type="text" name="lat-input">
        </div>
        <div class="input-block">
            <label for="lon">Долгота: </label>
            <input id="lon" type="text" name="lon-input">
        </div>
        <div class="input-block">
            <label for="alt">Высота над уровнем моря (в метрах): </label>
            <input id="alt" type="number" name="alt-input">
        </div>
        <div class="input-block">
            <label for="min-elevation">Минимальное возвышение спутника: </label>
            <input id="min-elevation" type="text" name="min-elevation-input">
        </div>
        <div class="input-block">
            <label for="min-apogee">Минимальная кульминация: </label>
            <input id="min-apogee" type="text" name="min-apogee-input">
        </div>
        <div class="input-block">
            <label for="start-time">Время начала наблюдения (UTC): </label>
            <input id="start-time" type="datetime-local" name="start-time-input">
        </div>
        <div class="input-block">
            <label for="duration">Длительность наблюдения (в часах): </label>
            <input id="duration" type="text" name="duration-input">
        </div>

        <button type="submit">Получить расписание →</button>
    </form>
{% endblock %}