{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/find_object.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
{% block content %}
    {% if passes %}
    <table>
        <tr>
            <td>Название спутника</td>
            <td>Время выхода из-за горизонта</td>
            <td>Время захода за горизонт</td>
            <td>Кульминация (в градусах)</td>
            <td>Скачать файл с траекторией</td>
        </tr>
        {% for pass in passes %}
            <tr class="{{ 'highlighted' if pass[4] else '' }}" data-satellite="{{ pass[0] }}"
                data-start="{{ pass[1] }}"
                data-end="{{ pass[2] }}" data-lon="{{ lon }}" data-lat="{{ lat }}" data-alt="{{ alt }}">
                <td>{{ pass[0] }}</td>
                <td>{{ pass[1] }}</td>
                <td>{{ pass[2] }}</td>
                <td>{{ pass[3] }}</td>
                <td>
                    <button class="download-button">Скачать</button>
                </td>
            </tr>
        {% endfor %}
    </table>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const downloadButtons = document.querySelectorAll('.download-button');

                downloadButtons.forEach((button) => {
                    button.addEventListener('click', () => {
                        const row = button.closest('tr');
                        const requestData = {
                            satellite: row.getAttribute('data-satellite'),
                            start: row.getAttribute('data-start'),
                            end: row.getAttribute('data-end'),
                            lon: row.getAttribute('data-lon'),
                            lat: row.getAttribute('data-lat'),
                            alt: row.getAttribute('data-alt')
                        };

                        axios.post('/download_trajectory', requestData, {  // TODO сделать это через гет запрос
                            responseType: 'blob', headers: {'Content-Type': 'application/json'}
                        }).then(response => {
                            if (response.status === 200) {
                                const blob = new Blob([response.data]);
                                const link = document.createElement('a');
                                link.href = window.URL.createObjectURL(blob);
                                link.setAttribute('download', 'Траектория.txt');
                                link.style.display = 'none';
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                            }
                        }).catch(error => {
                            console.error(error);
                        });
                    });
                });
            });
        </script>
    {% else %}
        <h1 class="text-center mt-5">Ничего не пролетает... :(</h1>
    {% endif %}

{% endblock %}