{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/find_object.css">
{% endblock %}
{% block title %}Просмотр пролетов{% endblock %}
{% block content %}
    <form action="" method="get">
        <h1>Для получения расписания пролетов, заполните все поля</h1>
        {% if form.lat %}
            <p>
                {{ form.lat.label }}<br>
                {{ form.lat(class="form-control") }}<br>

            </p>
        {% endif %}
        {% if form.lon %}
            <p>
                {{ form.lon.label }}<br>
                {{ form.lon(class="form-control") }}<br>

            </p>
        {% endif %}
        {% if form.alt %}
            <p>
                {{ form.alt.label }}<br>
                {{ form.alt(class="form-control") }}<br>

            </p>
        {% endif %}
        <p>
            {{ form.min_elevation.label }}<br>
            {{ form.min_elevation(class="form-control") }}<br>

        </p>
        <p>
            {{ form.min_apogee.label }}<br>
            {{ form.min_apogee(class="form-control") }}<br>

        </p>
        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time(class='form-control') }}<br>

        </p>
        <p>
            {{ form.duration.label }}<br>
            {{ form.duration(class="form-control") }}<br>

        </p>
        <button type="submit" class="btn btn-primary">Получить расписание →</button>
        {{ message }}
    </form>

{% endblock %}