{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/profile.css">
{% endblock %}

{% block content %}
<h1>Ваш профиль</h1>
    <div class="container">
        <div class="info-block">
            {% block profile %}
            <div class="info">
                <label for="alt">Имя пользователя:</label>
                <label for="alt">{{ current_user.name }}</label>
            </div>
            <div class="info">
                <label for="alt">Почта:</label>
                <label for="alt">{{ current_user.email }}</label>
            </div>
            <div class="info">
                <label for="alt">Дата регистрации:</label>
                <label for="alt">{{ current_user.created_date.strftime('%d.%m.%Y') }}</label>
            </div>
            <a href="{{ url_for('edit_profile') }}">Изменить</a>
            {% endblock %}
        </div>
    </div>

<form action="/logout" style="text-align: center">
    <button class="exit">Выйти</button>
</form>
{% endblock %}