{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/profile.css">
{% endblock %}

{% block content %}
<h1>Ваш профиль</h1>
<div class="all-blocks">

    <div class="info-block">
        <label>Информация о пользователе:</label>
        {% block profile %}
            <p>
                {{ form1.name.label }}<br>
                {{ form1.name(class="form-control", value=current_user.name, disabled=True) }}<br>
            </p>
            <p>
                {{ form1.email.label }}<br>
                {{ form1.email(class="form-control", value=current_user.email, disabled=True) }}<br>
            </p>
            <p>
                {{ form1.created_date.label }}<br>
                {{ form1.created_date(class="form-control", value=current_user.created_date.strftime('%d.%m.%Y'), disabled=True) }}<br>
            </p>

            <form action="/edit_profile" style="text-align: center">
                <button class="btn btn-primary">Изменить</button>
            </form>
        {% endblock %}
    </div>

    <div class="geoposition-block">
        <label>Точка наблюдения:</label>
        {% block geoposition %}
            <p>
                {{ form2.lat.label }}<br>
                {{ form2.lat(class="form-control", value=current_user.lat, disabled=True) }}<br>
            </p>
            <p>
                {{ form2.lon.label }}<br>
                {{ form2.lon(class="form-control", value=current_user.lon, disabled=True) }}<br>
            </p>
            <p>
                {{ form2.alt.label }}<br>
                {{ form2.alt(class="form-control", value=current_user.alt, disabled=True) }}<br>
            </p>

            <form action="/edit_geoposition" style="text-align: center">
                <button class="btn btn-primary">Изменить</button>
            </form>
        {% endblock %}
    </div>

</div>
<form action="/logout" style="text-align: center; margin-top: 50px;">
    <button class="btn btn-primary">Выйти</button>
</form>
{% endblock %}
